<div class="container nav nav-tabs">
  <a class="nav-link" [routerLinkActive]="['active']" routerLink="/promise-demo">Promise Demo</a>
  <a class="nav-link" [routerLinkActive]="['active']" routerLink="/rxjs-create-observable">Rxjs Create Observable</a>
  <a class="nav-link" [routerLinkActive]="['active']" routerLink="/rxjs-observer">Rxjs Observer</a>
  <a class="nav-link" [routerLinkActive]="['active']" routerLink="/rxjs-operators">Rxjs Operators</a>
  <a class="nav-link" [routerLinkActive]="['active']" routerLink="/rxjs-subjects">Rxjs Subjects</a>
  <a class="nav-link" [routerLinkActive]="['active']" routerLink="/ngrx-demo">Ngrx Demo</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>